<div
  class="w-1/2 flex flex-col space-y-6 rounded-l-2xl bg-[#FFFFFF] p-10 text-black"
>
<a href="dashboard">
  <header class="mb-8 pb-6 border-b border-gray-300">
    <h1 class="title-font mb-2 select-none text-3xl">
      Acne<span class="accent-green">Sense</span>
    </h1>
    <p class="sub-title-font select-none text-lg">For Your Acne Solution</p>
  </header>
  </a>

  <button onclick="window.location.href='/deteksi'"
    aria-label="Foto dan deteksi sekarang"
    class="flex items-center justify-between bg-[#2C5E5F] text-white py-7 px-6 rounded-lg font-semibold transition-colors hover:bg-[#244B4B]"
  >
    <i class="fa-solid fa-qrcode icon-style"></i>
    <span class="flex-1 text-left ml-5 text-lg"
      >Foto dan deteksi <br />
      sekarang!</span
    >
    <i class="fa-solid fa-arrow-right icon-style"></i>
  </button>

  <button onclick="window.location.href='/riwayat'"
    aria-label="Riwayat deteksi"
    class="flex items-center justify-between bg-[#FF8A65] text-white py-7 px-6 rounded-lg font-semibold transition-colors hover:bg-[#e3734f]"
  >
    <i class="fa-regular fa-file-lines icon-style"></i>
    <span class="flex-1 text-left ml-5 text-lg">Riwayat deteksi</span>
    <i class="fa-solid fa-arrow-right icon-style"></i>
  </button>

  <button 
    onclick="window.location.href='/chatbot'"
    aria-label="Mulai chat dengan AI"
    class="flex items-center justify-between bg-[#484DA1] text-white py-7 px-6 rounded-lg font-semibold transition-colors hover:bg-[#3d43a0]"
  >
    <i class="fa-solid fa-robot icon-style"></i>
    <span class="flex-1 text-left ml-5 text-lg"
      >Mulai chat dengan <br />
      AI</span
    >
    <i class="fa-solid fa-arrow-right icon-style"></i>
  </button>
</div>
