# Virtual environment
.acne-sense-api-venv/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*-venv/

# Docker files (not needed inside the container)
Dockerfile
docker-compose*.yaml
.dockerignore

# Development files
notebook.ipynb
curl_commands.txt
deploy-model.sh
test-endpoint.py
request.json

# Git and other VCS
.git/
.gitignore

# Cache folders
.cache/

# Environment files (for security reasons)
.env
.flaskenv