numpy==1.26.4
pyyaml
tflite-runtime    
flask
pandas
python-dotenv
scikit-learn
scipy
supabase
openai
flask_cors
pillow
gunicorn
google-auth
requests
google-auth-oauthlib
deep_translator
langdetect
langchain
langchain-google-vertexai
langchain-core
qdrant-client
langchain-qdrant
